
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Sarala&family=Syne+Mono&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Sarala&family=Syne+Mono&family=VT323&display=swap');

/* Elementos que inteferem no documento inteiro através do atalho * que significa "tudo" */
 * {
    display: flex;
    background-color: blueviolet;
    font-family: 'VT323', monospace;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* Elementos que interferem só no corpo do documento através da tag <body> */
body {
    font-size: 25px;
    margin: 10%;
} 

/* Elementos do id="título" */
#titulo {
    display: flex;
    background-color:yellow;
    font-size: 70px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #000000;
    margin-bottom: 5%;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
    
}

/* Elementos do id="subtítulo" */
#subtitulo {
    padding: 0.2em;
    border: 2px solid #000000;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
    display: block;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(199, 45, 166);
}

form {
    padding: 0.2em;
    border: 2px solid #000000;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
    display: block;
    border-radius: 3px;
}

/* Elementos da tag <fieldset> */
fieldset {
    border: 0;
}

/* Elementos da class="campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos da class="serie" (Estava com dificuldades de atribuir características pra essa tag chamando ".campo" - não entendi porquê - então criei essa para teste. 

.serie {
    margin-left: 5%;
} */

.nome .sobrenome {
    padding: 0.2em;
    border: 2px solid #000000;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
    display: block;
}

.botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(47, 244, 47);
    border-radius: 5px;
    width: 30%;
    height: 70px;
    
}

.botao:hover {
    font-size: 30px;
    background-color: rgb(244, 47, 192);
    border-radius: 2px;
}

.botao, select{
    cursor: pointer;
}

.botao-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select, textarea, button {
    border-radius: 5px;
    font-size: 1em;
    border-radius: 5px;
}

/*  Elementos da classe class="campo" e class="grupo" das tags <fieldset> e <div> */
.campo .grupo fieldset {
    float:  left;
    margin-right: 4em;
    
}

/* Elementos de classe class="campo", das tags <input> com atributo text + email, da tag <select> e da tag <textarea> */
.campo select, .campo textarea {
    padding: 0.2em;
    border: 2px solid #000000;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
    display: block;
}


